<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="mt-1">
        <h1 ng-bind="detailsCtrl.discovery.name"></h1>
    </div>
    <p class="lead" ng-bind="detailsCtrl.discovery.description"></p>
    <p>Did you like the discovery?</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off"> Yes </button>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="button1" aria-pressed="false" autocomplete="off"> No </button>
</div>

<p align="">